@model ICollection<UnoescBank.Models.Client>

@{
    ViewData["Tittle"] = "Client";
}

<div class="text-center">
    <h1 class="display-4">@Model.Count clients</h1>

    <table class="table table-responsive table-hover table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.ClientId</td>
                    <td>@c.ClientName</td>
                </tr>
            }
        </tbody>
    </table>
</div>