@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 text-center">
    <div class="card shadow-lg rounded-3 p-5">
        <div class="text-center mb-5">
            <h1 class="display-4 fw-bold text-primary">
                Crazy Dave Floriculture
            </h1>
        </div>

        <div class="d-flex justify-content-center gap-3">
            <a asp-controller="Plant" asp-action="Index" class="btn btn-success btn-lg">
                <i class="fa-solid fa-seedling"></i> Plants
            </a>
        </div>
    </div>
</div>
