@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <p>Thank you for visiting!</p>
    <p>Check out my projects and source code on GitHub:</p>
    <a href="https://github.com/KalilMassignaniDaRosa" target="_blank" class="btn btn-dark">
        <i class="fab fa-github"></i> GitHub
    </a>
</div>
